<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <h1 class="mr-40">
      Hackatrix 2016
    </h1>
    <md-content flex ng-show="!state.is('thanksVote')">
      <md-tabs class="md-default" md-dynamic-height>
        <md-tab md-active="state.is('voteList')" label="Vote List" ui-sref="voteList">
        </md-tab>
        <md-tab md-active="state.is('voteResult')" label="Vote Result" ui-sref="voteResult">
        </md-tab>
      </md-tabs>
    </md-content>
    <!--md-button class="md-icon-button" aria-label="Favorite">
      <md-icon md-svg-icon="favorite" style="color: greenyellow;"></md-icon>
    </md-button-->
  </div>
</md-toolbar>

