<md-progress-linear ng-show="loading" class="md-accent" md-mode="indeterminate"></md-progress-linear>
<div layout="row" layout-wrap>

  <md-card ng-repeat="idea in ideas | orderBy:'pk'" ng-click="voteIdea(idea)">
    <md-card-title>
      <md-card-title-media>
        <div class="md-media-sm card-media">
        	<img src="https://cdn3.iconfinder.com/data/icons/business/16/star_sign-512.png" alt="">
        </div>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline">{{ idea.name }}</span>
      </md-card-title-text>
    </md-card-title>
    <!--md-card-actions layout="row" layout-align="end center">
    	<md-button ng-disabled="loading" ng-click="voteIdea(idea)" class="md-raised md-primary">Vote</md-button>
    </md-card-actions-->
  </md-card>
	
</div>