<md-progress-linear ng-show="loading" class="md-accent" md-mode="indeterminate"></md-progress-linear>
<div layout="row" layout-wrap>

	<section>
        <md-subheader class="md-primary" layout="row" layout-align="center center">
      	  Current voting results / <span> {{totalVotes}} votes </span>-<span> {{totalPercent}}%</span>
        </md-subheader>
		<md-list>
			<div ng-repeat="idea in results | orderBy:'-votes'">
				<md-list-item  ng-disabled="loading" ng-click="showDetails($event, idea)">
				  	<img alt="" src="images/idea-icon.png" class="md-avatar" />
				    <p>{{ idea.name }}</p>
				    <span> {{idea.votes}} </span>  
				    <span>&nbsp;-&nbsp;{{idea.percent}} </span>
				    <span>&nbsp;%</span>  
				</md-list-item>
				<md-progress-linear 
					ng-class="{'md-warn': idea.percent<=10, 'md-accent': idea.percent>10 && idea.percent<=50}" 
					md-mode="determinate" 
					value="{{idea.percent}}">
				</md-progress-linear>
			</div>
		</md-list>

	</section>
</div>