<!doctype html>
<html ng-app="app">

    <head>
        <title>Hackatrix 2016 Ideas Voting</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <!-- build:style bundle -->
        <!-- /build -->
        <!-- build:script bundle -->
        <!-- /build -->
    </head>

    <body>
	    <!-- build:section layout.header -->
	    <!-- /build -->
        <div ui-view="header"></div>            
        <div ui-view="content" style="height:90%"></div>
        <!-- build:section layout.footer -->
        <!-- /build -->
    </body>



</html>

